/* app css stylesheet */

/*******************
BODY STYLING
*******************/

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    background: url('../img/bg.png');
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-align: left;
    text-decoration: none;
    height: 500px;
}


#wrapper {
    /* Center wrapper perfectly */
    width: 400px;
    height: 500px;
    margin: 70px auto;
}
