<!--
<div ng-controller="GridScreenCtrl">
    <ds-grid-screen />
</div>

<div ng-controller="FaceSenseCtrl">
    <ds-face-sense />
</div>

<div ng-controller="FlashPassCtrl">
    <ds-flash-pass />
</div>

<div ng-controller="KeyStrokeCtrl">
    <ds-key-stroke />
</div>

The Authenticator - Certificate
<div ng-controller="CertificateCtrl">
    <ds-cert-auth></ds-cert-auth>
</div>






<br>
-->
<div id="container">
<form class="niceform" ng-submit="submit()" ng-controller="AuthWizardCtrl">

	<div ng-repeat="authenticators in logonsteps">
     
		<fieldset>

        <legend>Step  {{ $index + 1 }} </legend>
        <div>
            <dl>
            <dt><label class="control-label">Authenticator:</label></dt>
                <dd><select ng-model="logonsteps[$index][0]" ng-disabled="authenticators.length==1" ng-options="authenticator.name for authenticator in authenticators"></select></dd>
            </dl>
            <div ng-switch on="authenticator.name">
                <div ng-switch-when="Certificate">
                    <ds-channels-list></ds-channels-list>
                </div>
                <div ng-switch-default>
                    <dl>
                        <dt><label class="control-label">One Time Password:</label></dt>
                            <dd><input type="text" ng-model="credentials[$index]" placeholder="Enter OTP here" name="otp" id="otp" size="32" maxlength="128" /></dd>
                    </dl>
                </div>
            </div>
        </div>

        </fieldset>
    </div>

    <pre>credentials={{credentials}}</pre>
	
    <fieldset class="action">
        <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary"/>
    </fieldset>
</form>
</div>

