<!--
<div ng-controller="GridScreenCtrl">
    <ds-grid-screen />
</div>

<div ng-controller="FaceSenseCtrl">
    <ds-face-sense />
</div>

<div ng-controller="FlashPassCtrl">
    <ds-flash-pass />
</div>

<div ng-controller="KeyStrokeCtrl">
    <ds-key-stroke />
</div>

The Authenticator - Certificate
<div ng-controller="CertificateCtrl">
    <ds-cert-auth></ds-cert-auth>
</div>






<br>

<form class="well" ng-submit="submit()" ng-controller="AuthStepsCtrl">
    <input type="submit" id="submit" value="Submit" class="btn"/> <br>

    <div class="form-group row" ng-repeat="authstep in authsteps">
        {{ authstep.name }}. {{ authstep.serial }} <br>

        <div ng-controller="AuthenticatorsHTTPCtrl">
            Authenticator:
            <select ng-model="authenticator" ng-options="authenticator.name for authenticator in authenticators"></select>
            <div ng-switch on="authenticator.name">
                <div ng-switch-when="Certificate">
                    <ds-channels-list></ds-channels-list>
                </div>
                <div ng-switch-default>One Time Password:<input type="text" ng-model="authstep.otp" placeholder="Enter OTP here"></div>
            </div>
        </div>

        <br>
    </div>

    <pre>list={{list}}</pre>
</form>

-->
<div id="container">
<form class="form-horizontal" ng-submit="submit()" ng-controller="AuthWizardCtrl">
    <fieldset>
    <legend>Step {{ currentstep+1 }} </legend>
	
		<div ng-show="currentstep==0">
          <div class="form-group">  
            <label class="col-sm-2 control-label">Username:</label>  
            <div class="col-sm-10">  
				<input type="text" ng-model="username" name="username" id="username" />
             </div>  
          </div>  
		</div>
	
          <div class="form-group">  
            <label class="col-sm-2 control-label">Authenticator:</label>  
            <div class="col-sm-10">  
				<select ng-model="authenticator" ng-disabled="authenticators.length==1" ng-options="authenticator.name for authenticator in authenticators"></select>
             </div>  
          </div>  
	
	
        <div ng-switch on="authenticator.name">
            <div ng-switch-when="Certificate" ng-controller="CertificateCtrl">
                <ds-cert-auth></ds-cert-auth>
            </div>
            <div ng-switch-when="Flash Pass" ng-controller="FlashPassCtrl">
                <ds-flash-pass></ds-flash-pass>
            </div>
            <div ng-switch-when="Grid Screen" ng-controller="GridScreenCtrl">
                <ds-grid-screen></ds-grid-screen>
            </div>
            <div ng-switch-when="On Demand Password">
                <ds-channels-list></ds-channels-list>
            </div>
            <div ng-switch-default>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >One Time Password:</label>
					<div class="col-sm-10"> 
                    <input type="text" ng-model="credentials[currentstep]" placeholder="Enter OTP here" name="otp" id="otp" />
					</div>
                </div>
            </div>
        </div>
   
    </fieldset>
	<fieldset>
		<h3>credentials={{credentials}}<h3>
	</fieldset>

    <fieldset class="action">
        <input type="submit" name="submit" id="submit" value="{{submitText}}" class="btn btn-primary"/>
    </fieldset>

</form>
</div>