<!--
<div ng-controller="GridScreenCtrl">
    <ds-grid-screen />
</div>

<div ng-controller="FaceSenseCtrl">
    <ds-face-sense />
</div>

<div ng-controller="FlashPassCtrl">
    <ds-flash-pass />
</div>

<div ng-controller="KeyStrokeCtrl">
    <ds-key-stroke />
</div>

The Authenticator - Certificate
<div ng-controller="CertificateCtrl">
    <ds-cert-auth></ds-cert-auth>
</div>






<br>

<form class="well" ng-submit="submit()" ng-controller="AuthStepsCtrl">
    <input type="submit" id="submit" value="Submit" class="btn"/> <br>

    <div class="form-group row" ng-repeat="authstep in authsteps">
        {{ authstep.name }}. {{ authstep.serial }} <br>

        <div ng-controller="AuthenticatorsHTTPCtrl">
            Authenticator:
            <select ng-model="authenticator" ng-options="authenticator.name for authenticator in authenticators"></select>
            <div ng-switch on="authenticator.name">
                <div ng-switch-when="Certificate">
                    <ds-channels-list></ds-channels-list>
                </div>
                <div ng-switch-default>One Time Password:<input type="text" ng-model="authstep.otp" placeholder="Enter OTP here"></div>
            </div>
        </div>

        <br>
    </div>

    <pre>list={{list}}</pre>
</form>

-->
<div id="container">
<form class="niceform" ng-submit="submit()" ng-controller="AuthWizardCtrl">
    <fieldset>

    <legend>Step {{ currentstep+1 }} </legend>
        <dl>
            <dt><label for="otp">Authenticator:</label></dt>
            <dd><select ng-model="authenticator" ng-options="authenticator.name for authenticator in authenticators"></select></dd>
        </dl>
        <div ng-switch on="authenticator.name">
            <div ng-switch-when="Certificate">
                <ds-channels-list></ds-channels-list>
            </div>
            <div ng-switch-default>
                <dl>
                    <dt><label for="otp">One Time Password:</label></dt>
                    <div class="NFTextCenter">
                    <dd><input type="text" ng-model="authstep.otp" class="NFText" placeholder="Enter OTP here" name="otp" id="otp" size="32" maxlength="128" /></dd>
                    </div>
                </dl>
            </div>
        </div>


    <br>

<!--
    <pre>list={{list}}</pre>
-->
    </fieldset>

    <fieldset class="action">
        <input type="submit" name="submit" id="submit" value="{{submitText}}" class="NFButton"/>
    </fieldset>

</form>
</div>